<!-- 
    Meditations Webpage - This is a secondary webpage
    - It will display all the meditational videos
    - It will display all the meditational audio
    - It will display all the meditational articles, etc.
--> 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="meditations" content="width=device-width, initial-scale=1.0">
  <title>Insightful Meditations</title>
  <!-- Link to CSS -->
  <link href="../../../meditations/templates/style/style.css" rel="stylesheet">
  <!-- Link Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  
  <!-- Content here -->

  <!-- Link Bootstrap JavaScript (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>