<!-- 
    Login and Signup Page - This is the main page for the login and signup page.
    - It will display the login and signup form
    - Users will be authenticated and directed to the journaling page afterwards
--> 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="Login" content="width=device-width, initial-scale=1.0">
  <title>Login or Sign up</title>
  <!-- Link Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  
  <!-- Content here -->

  <!-- Link Bootstrap JavaScript (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>