<!-- 
    JOURNAL WEBPAGE - This is the main page of the application.
    - It will display all the journal dashboard after login
    - It will display all the journal entries
--> 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="dashboard" content="width=device-width, initial-scale=1.0">
  <title>My Insight Write Journal</title>
  <!-- Link Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  
  <!-- Content here -->

  <!-- Link Bootstrap JavaScript (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
