{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weather</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'weather/styles.css' %}">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script type="text/javascript">
        // Set the base URL for static images in the weather directory
        var baseUrl = "{% static 'weather/img/' %}";
    </script>
    <script src="{% static 'weather/scripts.js' %}" defer></script>
    

</head>

<body>
    <header>
        <h2 class="InsightWrite"><ion-icon name="partly-sunny"></ion-icon><span>Insight Write</span></h2>
        <nav class="navigation">
          <a href="{% url 'journals:index' %}">Dashboard</a>
          <a href="{% url 'meditations:index' %}">Meditations</a>   
          <a href="#">Calendar</a>
          <a href="/journals/journal-entries/">Journals</a>
        </nav>
      </header>
      

    <div class="container">
        <div class="search-box">
            <i class='bx bxs-map'></i>
            <input type="text" placeholder="enter your location">
            <button class="bx bx-search"></button>
        </div>

        <p class="city-hide">city hide</p>

        <div class="weather-box">
            <div class="box">
                <div class="info-weather">
                    <div class="weather">
                        <img src="{% static 'weather/img/cloud.png' %}" alt="Cloud Image">
                        <p class="temperature">0<span>°C</span></p>
                        <p class="description">Broken Clouds</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="weather-details">
            <div class="humidity">
                <i class='bx bx-water'></i>
                <div class="text">
                    <div class="info-humidity">
                        <span>0%</span>
                    </div>
                    <p>Humidity</p>
                </div>
            </div>

            <div class="wind">
                <i class='bx bx-wind'></i>
                <div class="text">
                    <div class="info-wind">
                        <span>0Km/h</span>
                    </div>
                    <p>Wind Speed</p>
                </div>
            </div>
        </div>

        <div class="not-found">
            <div class="box">
                <img src="{% static 'weather/img/404.png' %}" alt="Not-Found Image">
                <p>Oops! Location not found!</p>
            </div>
        </div>
    </div>

<!-- Ionic Icons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>