@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url("/static/journals/img/photo8.webp") no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

/** Banner css ***/
#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .container {
  padding-top: 80px;
}

#hero h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 56px;
  margin: 0 0 10px 0;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#hero .btn_get_started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 15x;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: 0.6s all;
}

#hero .btn_get_started:hover {
  background: #009970;
  border: 2px solid #009970;
}

/* Allow vertical resizing only */
textarea {
  resize: both;
}

.writing-quotes {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

/* Style for the bottom typing sentence */
.fill {
  font-family: "Poppins", sans-serif;
  position: fixed;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 0px -1px 5px rgb(255, 255, 255);
  background-color: white; /* Background color outside the animation */
}

.fill-text-typing {
  margin-top: 15px;
  display: inline-block;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 0.4s step-end infinite alternate;
  color: white;
  font-family: "Poppins", sans-serif;
  size: 2vw;
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

h2 {
  color: white;
}

.header-icon {
  height: 3em;
  width: 3em;
  margin-top: 10px;
  vertical-align: middle;
  fill: white;
}

.drop-down-icon {
  height: 4em;
  width: 4em;
  vertical-align: middle;
  fill: white;
  margin-top: 10px;
  margin-left: 43%;
  position: absolute;
}

.header-text {
  margin-top: 15px;
  font-size: 2rem;
  vertical-align: middle;
  color: white;
}

/* Style for all the cards */

.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.card-image img {
  width: 100%;
}

.card-bottom {
  padding: 2px 16px;
}

.card-title {
  font-size: 1.25em;
  font-weight: bold;
}

.card-description {
  color: #888;
  font-family: Popins-sans-serif;
}

.card-grid {
  margin-top: 20px;
}
