/** login_signup CSS Styles***/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/static/login_signup/img/photo3.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.InsightWrite{
    display: flex;
align-items: center; /* Center items vertically */
    font-size: 2em;
    color: #2a2a28;
    user-select: none;
    font-weight: bold;
}

.insight-write ion-icon {
margin-right: 5px; /* Adjust spacing between icon and text */
}


/** nav bar ***/
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #2a2a28;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
/** nav underline ***/
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #2a2a28;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
/** nav hover ***/
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #2a2a28;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #2a2a28;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}
/** login button hover ***/
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #2a2a28;

}
/** login container field ***/
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /** hide the two fields when one of them moved ***/
    transform: scale(0); /** making the middle field disappear (would link with the close button) ***/
    transition: transform .5s ease, height .2s ease;

    
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

/*login display*/
.wrapper .form-box.login{
    /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0);
}

/*login display when click login in sign up page (bring login from left into middle field*/
/* or bringing login page to the left when click signup in login page*/
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

/** bringing signup field to the right side ***/
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
/** bringing signup field to the middle field from clicking sign-up from login page***/
.wrapper.active .form-box.register{
    /*display: none;*/
    transition: transform .18s ease;
    transform: translateX(0);
}

/** close button ***/
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #FFA07A;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #424949;
    font-weight: 500;
    font-weight: bold;
    
}

/* Google login button */ 
.btn1 {
width: 80%;
height: 40px; /* Adjust the height to provide more space for the icon */
background-color: #FFF;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #424949;
font-weight: 500;
font-weight: bold;
text-align: center;
position: relative;
display: flex; /* Use flexbox to align items */
align-items: center; /* Center the items vertically */
justify-content: center; /* Center the items horizontally */
margin-left: 32px;
}


/* Google icon size */
.g-sign-in-btn{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background:transparent;
}

/* Google login button text */
.btn1 span{
text-decoration: none; /* Remove underline by default */
transition: text-decoration 0.3s; 
}

/* Google login button hover */
.btn1:hover{
    text-decoration: underline 1px; /* Add underline on hover */
}


.login-register{
font-size: .9em;
color: #162938;
text-align: center;
font-weight: 500;
margin: 25px 0 10px;
}

.login-register p a{
    color: #D5D8DC;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

h2{
    font-weight: bold;
}



/* Social Media Icons */
footer {
    position: fixed;
    bottom: 5%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Move back to center */
    width: auto;
    padding: 10px 0;
    
}

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;

}

.sci li {
    list-style: none;
    margin: 8px;
    overflow: hidden;
}

.sci li a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: .3s;

}

.sci li a i{
    font-size: 30px;
    line-height: 40px;
    transform: translateY(0);

}

.sci li:hover a {
    transform: translateY(-100%);

}

.sci li a i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
}

.sci li:nth-child(1) a i::after{
    content: '\f39e';
    color: #3b5998;
}

.sci li:nth-child(2) a i::after{
    content: '\f167';
    color: #ff0000;
}

.sci li:nth-child(3) a i::after{
    content: '\f16d';
    color: #c32aa3;
}

.sci li:nth-child(4) a i::after{
    content: '\f099';
    color: #1da1f2;
}